{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h1>인편 쓰기</h1>

<a href="/"><button>돌아가기</button></a>

{% if error %}<p class="error-message">{{ error }}</p>{% endif %}

<form method="post">
    {% csrf_token %}
    <h5>작성자</h5>

    <textarea class="sender" type="text" name="sender">{{ sender }}</textarea><br>

    <h5>제목</h5>

    <textarea class="title" type="text" name="title">{{ title }}</textarea><br>

    <h5>내용 (1500자 이내)</h5>

    <textarea class="content" type="text" name="content">{{ content }}</textarea><br>

    <br>

    <input type="submit" value="보내기">

</form>
