<title>인터넷 편지</title>
<h2>인터넷 편지 목록</h2>

<h3>더캠프에서도 작성이 가능합니다.</h3>

<a href="/write"><button>작성하기</button></a>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>{{ question.title }} ({{ question.sender }}) </li>
    {% endfor %}
    </ul>
{% else %}
    <p>아직 편지가 없어요 ㅠ</p>
{% endif %}



<style>
    li {
        font-size: 110%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    button {
        border: none;
        background-color: black;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        font-size: 100%;
        cursor: pointer;
    }
</style>
